/ArrayMidian/obj
/ArrayMidian/bin
/CycleArray/obj
/CycleArray/bin
/Dijkstra/obj
/Dijkstra/bin
/Euclid/obj
/Euclid/bin
/Permutations/obj
/Permutations/bin
/Utils/obj
/Utils/bin
/WhiteSpaces/obj
/WhiteSpaces/bin
/Tasks.v11.suo
/Tasks.v12.suo
/Tasks.sln.DotSettings
/Tasks.sln.DotSettings.user
